In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-salaries-2023/ds_salaries.csv

In [2]:
df = pd.read_csv("/kaggle/input/data-science-salaries-2023/ds_salaries.csv")

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(3755, 11)

In [6]:
for col in df:
    if df[col].dtype == 'object':
        df[col] = df[col].factorize()[0]

In [7]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,0,0,0,80000,0,85847,0,100,0,0
1,2023,1,1,1,30000,1,30000,1,100,1,1
2,2023,1,1,1,25500,1,25500,1,100,1,1
3,2023,0,0,2,175000,1,175000,2,100,2,2
4,2023,0,0,2,120000,1,120000,2,100,2,2

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.loc[:,df.columns != "salary_in_usd"], df['salary_in_usd'], test_size=0.3)

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
# Apply a linear reg model

from sklearn.linear_model import LinearRegression
from math import sqrt

reg = LinearRegression()

reg.fit(X_train, y_train)

preds = reg.predict(X_test)

RMSE = 0

for i, entry in enumerate(preds):
#     print(y_test.iloc[i], entry)
    RMSE += abs(entry - y_test.iloc[i])**2
    
RMSE = sqrt(RMSE / y_test.shape[0])

print(RMSE)

58172.4379391793

In [10]:
# Apply a Random Forest Model